@import "../../scss/Variables.scss";

.movie-item {
    .poster-container {
        position: relative;

        &.poster-mode {
            min-height: calc(100vh * 0.7);
        }

        .favorite-wrap {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

        .limit-height {
            max-height: calc(100vh * 0.75);
        }

        .fit-img {
            object-fit: cover;
        }

        .height-img {
            height: 350px;
        }
    }

    a {
        color: $main-blue;
        text-decoration: none;
    }
}
