@import "../../scss/Variables.scss";

.favorite {
    .fa.fa-heart {
        font-size: 25px;
        color: red;
        background-color: white;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;

        &:hover,
        &.highlighted {
            color: white;
            background-color: red;
        }
    }
}
