@import "../../scss/Variables.scss";

.auto-complete {
    position: relative;

    input {
        &:focus {
            box-shadow: none;
        }
    }

    .item {
        cursor: pointer;
        padding: 10px;
        
        &:hover {
            background-color: #C0C0C0;
        }
    }

    .input-group-text {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        cursor: pointer;
    }

    .fa.fa-search {
        font-size: 18px;
        width: 20px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .autocomplete-content {
        position: absolute;
        min-height: 40px;
        max-height: 200px;
        overflow-x: auto;
        background-color: white;
        width: 100%;
        margin-top: 5px;
        border-radius: 5px;
        border: 1px solid black;
        z-index: 99;
    }
}
