// Here you can put custom className that use globally

// ======================================== BUTTON ========================================
.btn-bright-turquoise {
  background-color: $bright-turquoise;
  color: #ffffff;
  outline: none;
  border: none;

  &:hover {
    background-color: #00c2a5;
    color: #ffffff;
  }
}

.btn-no-outline:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

// ======================================== ALIGN CONTENT ========================================
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.top-center-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

// ======================================== HEIGHT ========================================
.h-40px {
  height: 40px;
}

.min-h-100vh {
  min-height: 100vh;
}

.min-h-20vh {
  min-height: 20vh;
}

.min-h-65vh {
  min-height: 65vh;
}

.min-h-80vh {
  min-height: 80vh;
}

// ======================================== WIDTH ========================================
.w-18-percent {
  width: 18%;
}

.w-82-percent {
  width: 82%;
}

.w-20-percent {
  width: 20%;
}

.w-80-percent {
  width: 80%;
}

.min-w-100px {
  min-width: 100px;
}

.w-25px {
  width: 25px;
}

.w-100px {
  width: 100px;
}

// ======================================== FORM CONTROL ========================================
.no-border.form-control:focus {
  border-color: #d8dbe0;
  outline: none;
  box-shadow: none;
}

// ======================================== FLOAT ========================================
.float-left {
  float: left;
}

.float-right {
  float: right;
}

// ======================================== ALIGN SELF ========================================
.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-flex-start {
  align-self: flex-start;
}

// ======================================== ALIGN CONTENT ========================================
.align-content-center {
  align-content: center;
}

// ======================================== FONT SIZE ========================================
.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

// ======================================== BACKGROUND COLOR ========================================
.bgc-light-gray {
  background-color: $light-gray;
}

// ======================================== COLOR ========================================

.color-white {
  color: #ffffff;
}

// ======================================== CURSOR POINTER ========================================
.cursor-pointer {
  cursor: pointer;
}

// ======================================== WHITE SPACE ========================================
.white-space-no-wrap {
  white-space: nowrap;
}

// ======================================== SWEET ALERT ========================================
div.sweet-alert {
  & span.btn {
    z-index: 99999999;
    cursor: pointer;
  }
}

// ======================================== LIST STYLE TYPE ========================================
.list-style-type-none {
  list-style-type: none;
}

// ======================================== POSITION ========================================
.position-relative {
  position: relative;
}

// ======================================== DISPLAY ========================================
.display-block {
  display: block;
}

.display-none {
  display: none;
}

// ======================================== CLEAR ========================================
.clear-both {
  clear: both;
}

// ======================================== LINK (<a href />) ========================================
a:hover {
  color: #ffffff;
}

// ======================================== PADDING ========================================
.pl-250 {
  padding-left: 250px;
}

.pr-250 {
  padding-right: 250px;
}

// ======================================== MARGIN ========================================
.mt-90 {
  margin-top: 90px;
}

// ======================================== BORDER ========================================
.border-radius-10px {
  border-radius: 10px;
}

// ======================================== OTHER ========================================
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.is-loading {
  position: relative;
  color: transparent;
  width: 100%;
  height: 40px;
  
  &:after {
    display: block;
    position: absolute;
    top: calc(50% - (20px / 2));
    left: calc(50% - (20px / 2));
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid $main-blue;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    -webkit-animation: spin-around .5s infinite linear;
    animation: spin-around .5s infinite linear;
  }
}

.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 30px;
}

.appear-as-link {
  color: $main-blue !important;
  cursor: pointer !important;
  font-weight: normal !important;

  &:hover {
    text-decoration: underline !important;

    &.no-hover {
      text-decoration: none !important;
    }
  }

  &.disabled-link {
    cursor: default !important;
    text-decoration: none !important;
  }
}
