// Variable overrides
// with this variables, you can use it like this:
// .class-name { font-color: $company-color-red; }

// example
$bright-turquoise: #0ddbbc;
$light-gray: #d7d8d9;
$green-vogue: #023047;
$cerulean: #00bad8;
$bright-turquoise-2: #04d1f2;
$main-yellow: #f4cd48;
$main-blue: #132355;